.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #0053b1;
}

.form {
  width: 500px;
  padding: 20px;
  border-radius: 20px;
  background-color: #1d1934;
  text-align: center;
}

.form h2 {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input[type="text"],
.input-group input[type="password"] {
  box-sizing: border-box;
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #0053b1;
  border-radius: 20px;
  background-color: #1d1934;
  color: #fff;
}

.button-container {
  margin-top: 20px;
}

.button-container input[type="button"] {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #0053b1;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-container button:hover {
  background-color: #005d97;
}
