html,
body {
  height: 100%;
  margin: 0;
}

.add-collaborator-page-container {
  min-height: 100vh; /* Use min-height to ensure it covers the entire viewport height */
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0053b1;
}

.add-collaborator-page-logo {
  margin-top: 21vh; /* Use viewport height for vertical margin */
  width: 40%;
  height: auto;
}

